@charset "utf-8";
/* CSS Document */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

div { position: relative; }
br.clear { clear: both; height: 1px; margin: -1px 0 0 0; display: block; }

/* TYPOGRAPHY */

p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,select,input{margin-bottom:10px}

body {
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.45em;
}

h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 250%;
	letter-spacing: -0.03em;
	font-weight: lighter;
}
h2 {
	font-family: Georgia, serif;
	font-size: 200%;
	font-weight: bold;
	font-style: italic;
}

h3 {
	font-family: Georgia, serif;
	font-size: 130%;
	font-weight: bold;
	font-style: italic;
	margin-top: 10px;
}
h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 200%;
	letter-spacing: -0.03em;
	font-weight: lighter;
}
h5 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 140%;
	font-weight: lighter;
}
h6 {
	font-family: Georgia, serif;
	font-size: 150%;
	margin-bottom: 2px;
}
p {

}
a {
	text-decoration: none;
	color: #596CB3;
}
a:hover {
	text-descoration: underline;
}


/* LAYOUT */

body { text-align: center; }

#topbar {
	background-color: #596CB3;
	margin-bottom: 20px;
	color: #FFFFFF;
	padding: 1px 0;
	text-align: center;
}
	#utilities {
		width: 960px;
		margin: 0 auto;
		text-align: left;
	}
	#utilities a {
		color: #ffffff;
	}
	#utility-links {
		float: left;
		margin: auto 10px;
	}
	#utility-user {
		float: right;
		margin: auto 10px;
	}


#container {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
#logo, #description {
	width: 458px;
	float: left;
	margin: auto 10px;
	display: inline;
}
#nav {
	margin-bottom: 0;
	clear: both;
	width: 100%;
	position: relative;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	overflow: auto;
}
body.body-charities #nav {
	border-bottom-color: #99cc6a;
}
body.body-causes #nav {
	border-bottom-color: #fdb741;
}
body.body-mypie #nav {
	border-bottom-color: #8193df;
}
#nav li {
	width: 120px;
	float: left;
	margin: 0 10px;
	display: inline;
}
#nav li a {
	color: #333333;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	font-family: Georgia, serif;
	font-size: 150%;
	font-weight: bold;
}
#nav li a:hover { color: #ffffff; }
#nav-charities, #nav-causes, #nav-mypie {
	text-align: center;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-radius-topleft: 6px;
	-webkit-border-radius-topright: 6px;
	border-radius-topleft: 6px;
	border-radius-topright: 6px;
	padding: 5px 0 6px 0;
}
#nav #nav-charities { background: #99cc6a; margin-left: 549px;}
#nav #nav-causes { background: #fdb741; }
#nav #nav-mypie { background: #8193df; }
body.body-charities #nav-charities a, body.body-causes #nav-causes a, body.body-mypie #nav-mypie a { color: #FFFFFF; }

#contents {	clear: both; }

#sidebar, #mainContent {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#contents #sidebar {
	margin-left: 0;
	padding: 10px;
	width: 210px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-radius-bottomleft: 6px;
	-webkit-border-radius-bottomright: 6px;
}

body.body-charities #sidebar {
	background: #99cc6a;
}
body.body-causes #sidebar {
	background: #fdb741;
}
body.body-mypie #sidebar {
	background: #8193df;
}

#search {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

#category {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

#mainContent {
	padding-top: 10px;
	width: 700px;
}

#teasers div
{
	text-align: center;
}

#teasers a
{
	color: #FFFFFF;
}

#teasers-charities
{
	background-color: #99CC6A;
}

#teasers-causes
{
	background-color: #FDB740;
}

#teasers-mypie
{
	background-color: #8193df;
}

body.body-about h4 {
	text-align: center;
	padding: 0 120px;
	font-style: normal;
	line-height: 1.2em;
}

body.body-about h5 {
	text-align: center;
	padding 0 220px;
	font-style: italic;
	font-size: 130%;
}

#footer {
	margin: 20px 10px 10px;
	clear: both;
}

p.copyright {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
}
